<!DOCTYPE html>
<html>
<head>
	<title></title>

  </head>
</head>
<body>

<select id="category">
	<option>Category</option>
	<option>Hairstylist</option>
	<option>Makeup Artist</option>
	<option>Manicurist</option>
	
</select>

<br>

<select id="location">
	<option>Location</option>
	<option>San Francisco, CA</option>
</select>



<!-- <img src="http://i884.photobucket.com/albums/ac46/curvygirlchic/CurvyGirlChicPlusSizeFashionBlog03-31-13092.jpg" width=300> -->


<br>

	<input type="submit" value="Search">

<br>

<div id="search">
<button><a href="/users/new">Join Now</a>
<button><a href="/sessions/new">Log In</a>

</div>

</body>
</html>