<!DOCTYPE html>
<html>
<head>
	<title></title>

  </head>
</head>
<body>

<form method="POST" action="/search">
<select name="category" id="category">
	<option>Category</option>
	<option value="Hairstylist">Hairstylist</option>
	<option value="Makeup Artist">Makeup Artist</option>
	<option value="Manicurst">Manicurist</option>
	
</select>

<br>

<select name="city" id="city">
	<option>Location</option>
	<option value="San Francisco, CA">San Francisco, CA</option>
</select>


<br>

	<input type="submit" value="Search">

<br>

</form>

<div id="search">
<button><a href="/users/new">Join Now</a>
<button><a href="/sessions/new">Log In</a>

</div>

</body>
</html>