<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
</head>
<body>
	<h1>Log In</h1>
	<form method="POST" action="/sessions">
		<input type="text" placeholder="Email" name="username">
		<input type="password" placeholder="Password" name="password">
		<input type="submit" value="Log In">
	</form>
</body>
</html>