<!DOCTYPE html>
<html>
<head>
	<title>Join Now</title>
</head>
<body>

<h1>Join Now</h1>

<form method="POST" action="/users">

		<p>Name</p>
		<input type="text" placeholder="Name" name="name">

		<p>Email Address</p>
		<input type="text" placeholder="Email Address" name="email">

		<p>Password</p>
		<input type="password" placeholder="Create a Password" name="password">

		<p>Address</p>
		<input type="text" placeholder="Address" name="address">

		<p>City</p>
		<input type="text" placeholder="City" name="city">


		<p>Category</p>
		<input type="text" placeholder="Hairstylist, Makeup Artist or Manicurist" name="category">

		<br>
		<input type="submit" value="Sign Up">

</body>
</html>